<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>

</head>
<body>    
    <%- include('./../partials/_navbar.ejs') %>
    <h1>Your Lists</h1>
    <% lists.forEach(list => { %>
        <div>
            <ol><a href="/lists/<%=list.listName%>"><h3><%= list.listName %></h3></a></ol>
        </div>
    <% })%>
    <a href="/lists/new"><button type="submit">Create list</button></a>
</body>
</html>