<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h1>Your Books</h1>
    <h2>Here is a list of all your books</h2>
    <br>
    <ul>
    <% Book.forEach(book =>{%>
        <li><%= book.bookName%> by <%= book.author%></li>
    <%})%>
    </ul>
    <a href="/books/new"><button>Create Book</button></a>
</body>
</html>