<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><link rel="icon" href="../favicon.ico" type="image/x-icon">
        New Book</title>
</head>
<body>
    <h1>New Book</h1>
    <form action="/books" method="POST">
        <label for="bookName">Book Name</label>
        <input type="text" name="bookName" id="book-name" />
        <label for="author">Author</label>
        <input type="text" name="author" id="author">
        <button type="submit">Add Book</button>
    </form>
</body>
</html>