<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Turners</title>
    <link rel="stylesheet" href="/styles/book/homepage.css">
  </head>
  <body>
    <img src="/images/logo.png" alt="Page Turners Logo" class="logo">
    <% if (user) { %>
    <h2>Welcome, <%= user.username %></h2>
    <div class="links">
        <a href="/books">Your Books</a>
        <a href="/lists">Your Lists</a>
        <a href="/auth/sign-out">Sign Out</a>
    </div>
    <% } else { %>
    <p>Sign in to make your reading lists!</p>
    <div class="links">
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Sign In</a>
    </div>
    <% } %>
</body>

</html>
